<center><h1>Show Me the Foundation I Clicked</h1>



<h4><br><br><p>
  <strong>Brand:</strong>
  <%= @foundation.brand %>
</p>

<br><br><p>
  <strong>Product:</strong>
  <%= @foundation.product %>
</p>

<br><br><p>
  <strong>Shade:</strong>
  <%= @foundation.shade %>
</p>

<br><br><p>Image:
<br>Coming Soon!

<br><br><p>Description:
<br>Coming Soon!

<br><br><p>Link to Buy the Foundation:
<br>Coming Soon!
</center>



