<center><h1>Your Home Page</h1>

<br><h3>Hi, <%= current_user.name %> :)

<h4><br><br><%= link_to "Click here to edit your profile", edit_user_path(current_user) %>

<br><br><br><%= link_to 'Delete your account', user_path(current_user), method: :delete,
              data: { confirm: 'Are you sure you want to delete your account #{current_user.name}?' } %></center>