<center><br><h1>Find Your Matching Foundations! Sign up</h1>

<%= render 'form' %>

</center>

<!-- f.text_field :brand, placeholder: "Current Matching Foundation Brand" %> -->
	<!-- f.text_field :product, placeholder: "Current Matching Foundation Product" %> -->
	<!-- f.text_field :shade, placeholder: "Current Matching Foundation Shade" %> -->