<center><br><h1>Find Your Matching Foundations! Sign up</h1>

<h4><%= render 'form' %>

</center>

<!-- f.text_field :brand, placeholder: "Current Matching Foundation Brand" %> -->
	<!-- f.text_field :product, placeholder: "Current Matching Foundation Product" %> -->
	<!-- f.text_field :shade, placeholder: "Current Matching Foundation Shade" %> -->

<br><center><h4>(btw, look it's the Black Knight!)<br><img src="http://2.bp.blogspot.com/-2O16hrqM368/UwZhlqajj1I/AAAAAAAAA_8/l3W4EgxxIjs/s1600/Black+Knight.png" alt="Foundations!" width="200"></center>