<center><h1>Welcome to Makeup Shade Guide</h1>

<center><br><img src="http://2.bp.blogspot.com/-KqGIwCGKhzU/Tz06sUKxOFI/AAAAAAAABeg/8wkIBr8n-R8/s1600/Foundations.JPG" width="400">

	<br><h3>Who Are We?</h3>
	  <br><p><h4>Makeup Shade Guide standardizes the thousands of foundations into set "true shades" for women to make cosmetic shopping an easier and more pleasant experience. Users sign up, enter their current matching foundation shade(s), and MUSG will generate other matching foundations. The more users that join, the more [accurate] the foundations will be. Try it out!</p> 		
	  
	<br><br><h2><%= link_to "Click here to sign up!", new_user_path %></center>

	<br><br><br><br><br>


